-- Adicionando relacionamento explícito para facilitar o join no AdminDashboard
ALTER TABLE denuncias DROP CONSTRAINT IF EXISTS denuncias_user_id_curriculos_fkey;
ALTER TABLE denuncias ADD CONSTRAINT denuncias_user_id_curriculos_fkey FOREIGN KEY (user_id) REFERENCES curriculos(user_id);
